.cardList{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.text{
    color: #222;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.div-not-found{
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found{
    color: #222;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 20px;
    text-decoration: underline;
}

.cart-item{
    position: relative;
}

.cart-conten{
    margin-bottom: 70px;
}

.cart-actions{
    position: absolute;
    bottom: 5px;
}

.more-button{
    width: 100px;
}